__pycache__
*/__pycache__
*/*/__pycache__
data/DeformingThings4D/animals
data/DeformingThings4D/humanoids
experiments.md 
cached_delaunay.npz
=0.9.0
data/test_vis
data/simple_data
data/bunny_normal
work_dir/
Debug_DeepSDF/
Test_DeepSDF_New/
Test_freenerf/
Test_NGP_Warp
models/siren.py
datasets/human2d_add_topo.py
datasets/human2d_data_term_from_siren.py
datasets/human2d_data_term.py
datasets/human2d.py
datasets/test.py 
datasets/Stanford_Bunny.py
